html,body{
	overflow-x: hidden;
}
.header{
	background-color: #fb8c00;
    height: 400px;
    border-bottom: 1px solid #fb8c00;
    line-height: 120px !important;
    vertical-align: middle;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 6px 10px rgba(0,0,0,.2), -4px 0 4px rgba(0,0,0,.1), 4px 0 4px rgba(0,0,0,.1);
}
.footer{
	height: 60px;
	background: -webkit-linear-gradient(top left,#DC0000,#fb8c00);
    background: -moz-linear-gradient(top left,#DC0000,#fb8c00);
    background: -webkit-linear-gradient(bottom right,#DC0000,#fb8c00);
    background: -moz-linear-gradient(bottom right,#DC0000,#fb8c00);
    background: linear-gradient(to top left,#DC0000,#fb8c00);
}
.header-info{
	position: absolute;
	top: 0;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	padding-top: 120px;
	height: 400px;
	z-index: 2;
}
.header-info h1, .header-info small{
	position: relative;
	color: #fff;
	text-align: center;
}
.header-info h1{
	font-size: 44px;
	text-shadow: 0 0 20px rgba(0,0,0,.5);
}
.header-info small{
	font-size: 16px;
	text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.header-info h1:after{
	content: ' ';
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	border: 1px solid #fff;
}
.header-bg{
	position: absolute;
	top: 0;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	height: 400px;
}
#myCanvas{
    overflow:hidden;
    background: -webkit-linear-gradient(top left,#DC0000,#fb8c00);
    background: -moz-linear-gradient(top left,#DC0000,#fb8c00);
    background: -webkit-linear-gradient(bottom right,#DC0000,#fb8c00);
    background: -moz-linear-gradient(bottom right,#DC0000,#fb8c00);
    background: linear-gradient(to top left,#DC0000,#fb8c00);
}
.ys-grid-row .ys-cell-6{
	height: 300px;
}
.widget{
	position: absolute;
	top: 50%;
	margin-top: -125px;
	width: 400px;
	height: 250px;
	background-color: #000;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 6px 10px rgba(0,0,0,.2), -4px 0 4px rgba(0,0,0,.1), 4px 0 4px rgba(0,0,0,.1);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-perspective: 100px;
	   -moz-perspective: 100px;
	        perspective: 100px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.widget:hover{
	box-shadow: -15px 20px 15px rgba(0,0,0,.3), -20px 25px 20px rgba(0,0,0,.1);
}
.pright{
	right: 50px;
}
.pleft{
	left: 50px;
}
.info{
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.widget .info .title{
	height: 125px;
	padding-top: 80px;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
}
.widget .info .desc{
	height: 125px;
	padding-bottom: 80px;
	font-size: 14px;
	text-align: center;
	color: #8bc34a;
}
.hover{
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	background-color: #e6158d;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.hover h4{
	margin-bottom: 5px;
	text-align: center;
	color: #fff;
}
.info-in{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	    transform: translate(0,0);
}
.hover-out{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	    transform: translate(0,0);
}
.widget:hover .info-in{
	-webkit-transform: translate(-100%,0);
	-moz-transform: translate(-100%,0);
	-ms-transform: translate(-100%,0);
	    transform: translate(-100%,0);
}
.widget:hover .hover-out{
	-webkit-transform: translate(0,-100%);
	-moz-transform: translate(0,-100%);
	-ms-transform: translate(0,-100%);
	    transform: translate(0,-100%);
}
/* rotate animation */
.info-rotate-in{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
}
.hover-rotate-out{
	position: absolute;
	top: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	transform-origin: right top;
}
.widget:hover .info-rotate-in{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.widget:hover .hover-rotate-out{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
/* slide  collapse */
.info-collapse-in{
	-webkit-transform: scale(1,1) translate(0,0);
	   -moz-transform: scale(1,1) translate(0,0);
	    -ms-transform: scale(1,1) translate(0,0);
	        transform: scale(1,1) translate(0,0);
	-webkit-animation-duration: .6s;
	   -moz-animation-duration: .6s;
	        animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	        animation-fill-mode: both;
}
.hover-collapse-out{
	-webkit-transform: translate(100%, -100%);
	   -moz-transform: translate(100%, -100%);
	    -ms-transform: translate(100%, -100%);
	        transform: translate(100%, -100%);
	        -webkit-transition: all .5s ease-in-out;
	        -moz-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}
@-webkit-keyframes slideCollapse{
	0%{
		        -webkit-transform:rotateY(0deg) scale(1);
		                transform:rotateY(0deg) scale(1);
		        opacity: 1;
	}
	40%{
		        -webkit-transform: rotateY(15deg) scale(.8,.8);
		                transform: rotateY(15deg) scale(.8,.8);
	}
	100%{
		        -webkit-transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
		                transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
	}
}
@-moz-keyframes slideCollapse{
	0%{
		        -moz-transform:rotateY(0deg) scale(1);
		             transform:rotateY(0deg) scale(1);
		        opacity: 1;
	}
	40%{
		        -moz-transform: rotateY(15deg) scale(.8,.8);
		             transform: rotateY(15deg) scale(.8,.8);
	}
	100%{
		        -moz-transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
		             transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
	}
}
@keyframes slideCollapse{
	0%{
		        -webkit-transform:rotateY(0deg) scale(1);
		           -moz-transform:rotateY(0deg) scale(1);
		                transform:rotateY(0deg) scale(1);
		        opacity: 1;
	}
	40%{
		        -webkit-transform: rotateY(15deg) scale(.8,.8);
		           -moz-transform: rotateY(15deg) scale(.8,.8);
		                transform: rotateY(15deg) scale(.8,.8);
	}
	100%{
		        -webkit-transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
		           -moz-transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
		                transform: rotateY(15deg) scale(.8,.8) translate(-130%,0);
	}
}
.widget:hover .info-collapse-in{
	-webkit-animation-name: slideCollapse;
	   -moz-animation-name: slideCollapse;
	        animation-name: slideCollapse;
}
.widget:hover .hover-collapse-out{
	-webkit-transition-delay: .2s;
	   -moz-transition-delay: .2s;
	        transition-delay: .2s;
	-webkit-transform: translate(0, -100%);
	   -moz-transform: translate(0, -100%);
	    -ms-transform: translate(0, -100%);
	        transform: translate(0, -100%);
}
/* zoom */
.info-zoom-in{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.widget:hover .info-zoom-in{
	-webkit-transform: scale(.2);
	   -moz-transform: scale(.2);
	    -ms-transform: scale(.2);
	        transform: scale(.2);
	opacity: 0;
}
.hover-zoom-out{
	position: absolute;
	top: 0;
	-webkit-transform: scale(.2);
	   -moz-transform: scale(.2);
	    -ms-transform: scale(.2);
	        transform: scale(.2);
	opacity: 0;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.widget:hover .hover-zoom-out{
	-webkit-transition-delay: .25s;
	   -moz-transition-delay: .25s;
	        transition-delay: .25s;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}
/* push */
.info-push-in{
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	-webkit-transform-origin: left;
	   -moz-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.widget:hover .info-push-in{
	-webkit-transform: rotateY(90deg) translateZ(-100px);
	   -moz-transform: rotateY(90deg) translateZ(-100px);
	        transform: rotateY(90deg) translateZ(-100px);
}
.hover-pull-out{
	position: absolute;
	top: 0;
	-webkit-transform: translate(110%,0);
	   -moz-transform: translate(110%,0);
	    -ms-transform: translate(110%,0);
	        transform: translate(110%,0);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.widget:hover .hover-pull-out{
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	        transform: translate(0,0);
}
/* leftTop */
.info-leftTop-in{
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	        transform: translate(0,0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.widget:hover .info-leftTop-in{
	-webkit-transform: translate(-110%,-110%);
	   -moz-transform: translate(-110%,-110%);
	    -ms-transform: translate(-110%,-110%);
	        transform: translate(-110%,-110%);
}
.hover-leftTop-out{
	-webkit-transform: translate(110%,0);
	   -moz-transform: translate(110%,0);
	    -ms-transform: translate(110%,0);
	        transform: translate(110%,0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.widget:hover .hover-leftTop-out{
	-webkit-transform: translate(0,-100%);
	   -moz-transform: translate(0,-100%);
	    -ms-transform: translate(0,-100%);
	        transform: translate(0,-100%);
}
.ys-btn-color--white{
	color: #fff;
}
.ys-btn-color--white:hover{
	color: #dedede;
}

.api-container{
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: #e6158d;
	z-index: 2;
	overflow-y: auto;
	display: none;
}
.api-close{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	font-size: 40px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: 0;
}
.api-close.active{
	opacity:1;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.api-close:hover{
	-webkit-animation-name: rubberband;
 	-moz-animation-name: rubberband;
 	animation-name: rubberband;
}
.api-cnt{
	position: relative;
	width: 960px;
	height: 100%;
	left: 50%;
	margin-top: 20px;
	margin-left: -470px;
	padding: 50px 20px;
	opacity: 0;

	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.api-cnt.active{
	margin-top: 0;
	margin-left: -480px;
	opacity: 1;
}
.cover{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.loading{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.15);
	display: none;
}
.loading .loading-box{
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
}
@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

.loading-box > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #e6158d;
  -webkit-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
          animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite; }